*pyc
*~
*pyo
.coverage
.cache/
.tox/
build/
dist/
edgemanage.egg-info/
htmlcov/
venv3
venv

dev/edgemanage.yaml
dev/bind/*.zone
dev/health/*.edgestore
dev/lock/*.lock
dev/log/*.log
dev/state/*.state
dev/tmp/*.live
dev/edges/*
!dev/edges/.gitkeep
dev/extra_edges/*
!dev/extra_edges/.gitkeep
