version: 2
jobs:
  build:
    working_directory: ~/equalitie/edgemanage
    parallelism: 1
    docker:
    - image: circleci/python:2.7
    steps:
    - checkout
    - run: sudo apt-get install python-yaml python-requests python-jinja2 python-concurrent.futures python-setuptools python-setproctitle build-essential
    - run: pip install -r requirements.txt
    - run: pip install -r test-requirements.txt
    - run: pip install tox
    - run: tox
    # Copy coverage output to the artifacts directory
    #- run: cp -R htmlcov $CIRCLE_ARTIFACTS
